@font-face {
  font-family: "PokeFont";
  src: local("PokeFont"), url("PokeFont.ttf") format("truetype");
}

body {
  margin: 0;
  overflow-y: hidden;
  padding-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PokeFont", serif;
  background-color: #000000; /* Set a background color for better visibility */
}

.centered-square {
  width: 80vh; /* Set the width of the square */
  height: fit-content;
  background-image: url("background.png"); /* Replace with the actual path to your image */
  background-size: cover; /* This property ensures the image covers the entire container */
  background-position: center; /* Center the background image */
  background-color: #686868;
}

.battle-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.pokemon-name{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'PokeFont', sans-serif;
  font-weight: bolder;
}

.level{
  font-weight: normal;
}

.info-card{
  display: flex;
  width: 20vh;
  height: fit-content;
  padding: 5px 17px 5px 10px;
  border-radius: 10px;
  background: #F8F8D8;
  flex-direction: column;
  border: 5px solid #465E4D;
}

.pokemon-container {
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.pokemon-sprite-top{
  object-fit: cover;
  align-self: end;
}

.hp-bar {
  height: 20px;
  width: 20vh;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 8px;
  border: 5px solid #0f2f00;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

p{
  margin: 0;
}

.move-box{
  height: 30vh;
  background: aqua;
}